	<p>La Safer a été informée des projets de ventes suivants :</p>	
			<p>D&eacute;partement : <span class="nomCom">ISÈRE</span></p>
			<p>Commune de : <span class="nomCom">VEUREY-VOROIZE</span></p>
			 <form name="FORMDOSSIER1"  action="#">
			 	<input name="IDD" id="IDD" type="hidden" value="">
        <p><span class='txt_strong'>Dossier : </span>NO 38 22 1355 01<label class="nomLabel sep">B&acirc;timent :</label><span> Non</span> <label class="nomLabel sep">Situation locative :</label><span> Libre</span><p>
        <p><strong class="dateLimit">DATE RECEPTION :  10/03/2022</strong><strong class="dateLigne">DATE DE MISE EN LIGNE : 11/03/2022 07:00</strong>
      			<!-- Table style-->
            <table id="tableau" class="map" border="0" cellspacing="0" cellpadding="0">
								<thead>
                  <tr>
										 <th>Section</th>
										 <th>Lieux dit</th>
									   <th>N°Plan</th>
									   	
										 <th>**Nat. Cad.</th>
									   <th>Sub-division</th>
									   <th>Anc. N°</th>
									   <th>Surface</th>
								 </tr>
               </thead>
               <tbody>
				
								<tr>		
									<td>AB</td>
									<td>LE PETIT PORT</td>
									<td>0083</td>
										
									<td>BT</td>
									<td> </td>
									<td> </td>
									<td>04&nbsp;a&nbsp;10&nbsp;ca</td>
								</tr>
					
								<tr>		
									<td>AB</td>
									<td>LE PETIT PORT</td>
									<td>0084</td>
										
									<td>BT</td>
									<td> </td>
									<td> </td>
									<td>09&nbsp;a&nbsp;45&nbsp;ca</td>
								</tr>
					
								<tr>		
									<td>AB</td>
									<td>LE PETIT PORT</td>
									<td>0085</td>
										
									<td>BT</td>
									<td> </td>
									<td> </td>
									<td>30&nbsp;a</td>
								</tr>
												<tr class="blockTotal">
									<td></td>
									<td></td>
								  <td></td>
								  								  <td></td>
								  <td></td>
								  <td class="cell total">Total</td>
								  <td class="cell">43&nbsp;a&nbsp;55&nbsp;ca</td>
								</tr>
								
					    </tbody>
            </table>
         	
           <p>Ceci ne constitue ni un engagement de la Safer &agrave; exercer son droit de pr&eacute;emption, ni une publicit&eacute; &quot;appel &agrave; candidature&quot;. <strong style="color: #000000;">Ces donn&eacute;es sont purement indicatives</strong> et ne sont pas contractuelles. Toute diffusion ou exploitation pour d'autres usages que celui auquel elles sont destin&eacute;es est interdit.</p>
   	<br/>
              
				</form>
<em>
*&nbsp;			
<br>**&nbsp;BT = Bois-Taillis			
        
</em>
					
				<hr>
			<p>D&eacute;partement : <span class="nomCom">ISÈRE</span></p>
			<p>Commune de : <span class="nomCom">FONTAINE</span></p>
			 <form name="FORMDOSSIER2"  action="#">
			 	<input name="IDD" id="IDD" type="hidden" value="">
        <p><span class='txt_strong'>Dossier : </span>NO 38 22 1356 01<label class="nomLabel sep">B&acirc;timent :</label><span> Oui</span> <label class="nomLabel sep">Situation locative :</label><span> Libre</span><p>
        <p><strong class="dateLimit">DATE RECEPTION :  10/03/2022</strong><strong class="dateLigne">DATE DE MISE EN LIGNE : 11/03/2022 07:00</strong>
      			<!-- Table style-->
            <table id="tableau" class="map" border="0" cellspacing="0" cellpadding="0">
								<thead>
                  <tr>
										 <th>Section</th>
										 <th>Lieux dit</th>
									   <th>N°Plan</th>
									   	
										 <th>**Nat. Cad.</th>
									   <th>Sub-division</th>
									   <th>Anc. N°</th>
									   <th>Surface</th>
								 </tr>
               </thead>
               <tbody>
				
								<tr>		
									<td>A</td>
									<td></td>
									<td>0164</td>
										
									<td>#</td>
									<td> </td>
									<td></td>
									<td>00&nbsp;a&nbsp;24&nbsp;ca</td>
								</tr>
					
								<tr>		
									<td>A</td>
									<td></td>
									<td>0167</td>
										
									<td>#</td>
									<td> </td>
									<td></td>
									<td>00&nbsp;a&nbsp;45&nbsp;ca</td>
								</tr>
												<tr class="blockTotal">
									<td></td>
									<td></td>
								  <td></td>
								  								  <td></td>
								  <td></td>
								  <td class="cell total">Total</td>
								  <td class="cell">00&nbsp;a&nbsp;69&nbsp;ca</td>
								</tr>
								
					    </tbody>
            </table>
         	
           <p>Ceci ne constitue ni un engagement de la Safer &agrave; exercer son droit de pr&eacute;emption, ni une publicit&eacute; &quot;appel &agrave; candidature&quot;. <strong style="color: #000000;">Ces donn&eacute;es sont purement indicatives</strong> et ne sont pas contractuelles. Toute diffusion ou exploitation pour d'autres usages que celui auquel elles sont destin&eacute;es est interdit.</p>
   	<br/>
              
				</form>
<em>
